 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: rgb(35, 44, 58);
    color: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 700px;
}

.perfil{
    flex-direction: row;
    display:flex ;
    padding: 15px;
}


hr {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagenperfil{
    width: 175px;
    height: 175px;
    align-items: left;
    border-radius: 50%;
    border: 10px solid rgb(21, 25, 44);
    margin-right: 5px;
}

.textoperfil{
    padding: 10px;
}

.descargarCv {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #3e6291;
    color: white;
    border-radius: 25px;
    text-decoration: none;

}

.descargarCv:hover{
    background-color: #2b5064;
}

.Lenguajes, .Herramientas {
    font-size: 15px;
    align-items: center;
}

.Redes img {
    width: 40px;
    padding: 11px;
    
}

.Redes {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    pointer-events: none;
}

.cubo1 {
    border: 1px solid rgb(78, 78, 78);
    width: 150px;
    height: 70px;
    border-radius: 10%;
    margin: 10px;
    flex-direction: row;
    display: flex;
    text-decoration: none;
    color: rgb(88, 180, 255);
    pointer-events:all;
    margin-left: 0px;
}


.cubo2 {
    border: 1px solid rgb(78, 78, 78);
    width: 150px;
    height: 70px;
    border-radius: 10%;
    margin: 10px;
    flex-direction: row;
    display: flex;
    text-decoration: none;
    color: rgb(50, 116, 170);
    pointer-events:all;
}

.cubo3 {
    border: 1px solid rgb(78, 78, 78);
    width: 150px;
    height: 70px;
    border-radius: 10%;
    margin: 10px;
    flex-direction: row;
    display: flex;
    text-decoration: none;
    color: rgb(140, 141, 141);
    pointer-events:all;
}

.cubo4 {
    border: 1px solid rgb(78, 78, 78);
    width: 150px;
    height: 70px;
    border-radius: 10%;
    margin: 10px;
    flex-direction: row;
    display: flex;
    text-decoration: none;
    color: rgb(140, 141, 141);
    pointer-events:all;
}

a {
    text-decoration: none;
    color: inherit;
    display:inline-block ;
}

.cubo1 a, .cubo2 a, .cubo3 a {
    display: inline-block;
    pointer-events: none;
}


.cubo1:hover, .cubo2:hover, .cubo3:hover {
    background-color: rgb(55, 68, 88); /* Cambia esto al color que prefieras */
}

.smt {
    margin-bottom: 5px;
}

.email-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    cursor: pointer;
    margin-left:0px ;
    margin-top: 10px;
  }
  

  
  .email-address {
    flex-grow: 1;
  }
  

  @media screen and (max-width: 650px) {

    .perfil, .textoperfil, .descargarCv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textoperfil {
        margin-top:-20px ;
    }

    .imagenperfil {
        margin-top: 15px;
    }

    .cubo1 {
        border: 1px solid rgb(78, 78, 78);
        width: 165px;
        height: 70px;
        border-radius: 10%;
        margin: 10px;
        font-size: 17px;
        align-items: top;
    }
    
    .cubo2 {
        border: 1px solid rgb(78, 78, 78);
        width: 165px;
        height: 70px;
        border-radius: 10%;
        margin: 10px;
        font-size: 17px;
        align-items: top;
    }
    
    .cubo3 {
        border: 1px solid rgb(78, 78, 78);
        width: 165px;
        height: 70px;
        border-radius: 10%;
        margin: 10px;
        font-size: 17px;
        align-items: top;
    }

    .cubo4 {
        border: 1px solid rgb(78, 78, 78);
        width: 165px;
        height: 70px;
        border-radius: 10%;
        margin: 10px;
        font-size: 17px;
        align-items: top;
    }
  }

  @media screen and (max-width: 450px) {
    .Redes{
        flex-wrap: wrap;
        display: flex;
        text-decoration: none;
        pointer-events: none;
    }

     @media screen and (max-width: 700px) {
    .Redes{
        flex-wrap: wrap;
        display: flex;
        text-decoration: none;
        pointer-events: none;
    }
  }
  }
