@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h3, p {
    @apply m-0 leading-tight;
  }
}

/* Puedes mantener tus estilos personalizados después de las directivas de Tailwind */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2; /* reducido de 1.5 */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Cursor light effect */
.cursor-light {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(177, 177, 188, 0.15), transparent 60%);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: opacity 0.3s ease;
}


